
h1{
    text-align: center;
}
ul.a{
    list-style-type: square;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E1E195;
    font-size: 30px;

}


.footer3 {
   
    
    height:100px;
    width: 100%;
    text-align: center;
    background-color: red;
    position: absolute;
    float: left;
   
    
}
